.ibexa-om-orders-filters {
    .ibexa-adaptive-filters__static-left {
        width: calculateRem(400px);
        flex-shrink: 0;
    }

    &__created-wrapper {
        width: calculateRem(200px);
    }

    &__price-wrapper {
        width: calculateRem(100px);
    }

    &__currency-wrapper {
        .ibexa-dropdown {
            min-width: calculateRem(80px);
        }
    }
}
