body {
    font-family:
        'Noto Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    color: $ibexa-store-color-dark-600;
}

a {
    color: $ibexa-store-color-dark-600;
}
