.ibexa-store-popup-menu {
    $self: &;

    position: relative;

    &__toggler {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        font-size: 14px;
        padding: 4px;
        cursor: pointer;
    }

    &__icon {
        @include toggler();
    }

    &__label {
        margin-right: 8px;
        display: flex;
        align-items: center;
    }

    &__list {
        position: absolute;
        top: 30px;
        left: 0;
        list-style: none;
        margin: 0;
        padding-left: 0;
        border: 1px solid $ibexa-store-color-light-600;
        min-width: 100%;
        border-radius: 8px;
        overflow: hidden;
    }

    &__link {
        display: block;
        padding: 8px 16px;
        background-color: $ibexa-store-color-light;
        text-decoration: none;
        color: $ibexa-store-color-dark-600;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            background-color: $ibexa-store-color-light-500;
        }
    }

    &--collapsed {
        #{$self} {
            &__list {
                display: none;
            }

            &__icon {
                transform: rotate(180deg);
            }
        }
    }
}
