.ibexa-store-products-list {
    display: flex;
    align-items: flex-start;

    &__aside {
        flex-basis: 300px;
        margin-right: 20px;
        background-color: $ibexa-store-color-light-600;
        padding: 24px;
        border-radius: 8px;
    }

    &__content {
        flex-basis: calc(100% - 320px);
    }

    &__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__results-title {
        font-size: 20px;
    }

    &__title {
        margin-top: 0;
    }
}
